{erl_opts, [
	{i, "include"},
	{i, "./_build/default/lib/eLog/include"},
	{i, "./_build/default/lib/eNet/include"},
	{i, "./_build/default/lib/eWSrv/include"}
	, no_debug_info
	, recv_opt_info
	, nowarn_unused_function
	, nowarn_export_all
	, return
	, report
]}.

{deps, [
	{eLog, ".*", {git, "https://github.com/ErlGameWorld/eLog.git", {branch, "master"}}},
	{eGbh, ".*", {git, "https://github.com/ErlGameWorld/eGbh.git", {branch, "master"}}},
	{eFaw, ".*", {git, "https://github.com/ErlGameWorld/eFaw.git", {branch, "master"}}},
	{eUtils, ".*", {git, "https://github.com/ErlGameWorld/eUtils.git", {branch, "master"}}},
	{eNet, ".*", {git, "https://github.com/ErlGameWorld/eNet.git", {branch, "master"}}},
	{eWSrv, ".*", {git, "https://github.com/ErlGameWorld/eWSrv.git", {branch, "master"}}},
	{eArango, ".*", {git, "https://github.com/ErlGameWorld/eArango.git", {branch, "master"}}},
	{ranks, ".*", {git, "https://github.com/ErlGameWorld/ranks.git", {branch, "master"}}},
	{gTimer, ".*", {git, "https://github.com/ErlGameWorld/gTimer.git", {branch, "master"}}},
	{eSync, ".*", {git, "https://github.com/ErlGameWorld/eSync.git", {branch, "master"}}},
	{genProto, ".*", {git, "https://github.com/ErlGameWorld/genProto.git", {branch, "master"}}},
	{jiffy, ".*", {git, "https://github.com/ErlGameWorld/jiffy.git", {branch, "master"}}},
	{eGLock, ".*", {git, "https://github.com/ErlGameWorld/eGLock.git", {branch, "master"}}},
	{ePtDirty, ".*", {git, "https://github.com/ErlGameWorld/ePtDirty.git", {branch, "main"}}}

]}.

{relx, [
	{release, {agw, "0.1.0"}, [agw, sasl]},
	{extended_start_script, true},
	{include_erts, false},
	{sys_config, "config/sys.config"},
	{vm_args, "config/vm.args"}
]}.

{shell, [
	{config, "config/sys.config"},
	{apps, [agw]}
]}.
